<div class="container-fluid" style="border:1px solid #cecece;">
  <div class="row">
    <div class="col-lg-4 border border-primary" >
      <h4 class="well" align="center">Public Repositories</h4>
        <div
          style="height: 500px; overflow-y: auto; overflow-x: hidden;"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
           [scrollWindow]="false"
          (scrolled)="onScroll()">
          <ul class="list-group" >
            <li class="list-group-item"
                *ngFor="let repository of repositories"
                (click)="onSelect(repository)"
                [class.selected]="repository === selectedRepository">
              <div align="left" style=" display: inline-block;">
                 <h4>{{repository.name}}</h4>
              </div>
              <div align="right">
                <img src="/assets/images/code-fork-512.png"
                   style="width:10px;height:10px;"
                   alt="Forks">: {{repository.forkCount  | number:0}}
              &nbsp;
               <img src="/assets/images/star.png"
                   style="width:50px;height:25px;"
                   alt="Stars">
              {{repository.starCount  | number:0}}
              </div>

            </li>
          </ul>
        </div>
    </div>
    <div class="col-lg-8 border border-primary" style="max-height: 380px;">
      <h4 class="well" align="center"> Contributors</h4>
      <app-repository-detail></app-repository-detail>
    </div>
  </div>
</div>
