<h2>Public Repositories</h2>
<div>
  <div style="width:20%; height: 100%; overflow-y: scroll; display: inline-block; float:left; ">
    <ul class="heroes" style="height: 400px; display: block">
      <li *ngFor="let hero of heroes"
          (click)="onSelect(hero)"
          [class.selected]="hero === selectedHero">
          {{hero.name}}
      </li>
    </ul>
  </div>
  <div style="width:50%; display: inline-block; float:left;">
    <app-hero-detail [hero]="selectedHero"></app-hero-detail>
  </div>
</div>
